

<% if user_signed_in?%>
  <div class="container">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr class="table-dark">
          <th>
            <%= "Serial Numbers" %>
          </th>
          <th>
            <%= "Passenger Names" %>
          </th>
        </tr>
      </thead>
      <tbody>
        <% count=1 %>
        <% @passengers.each do |passenger| %>
        
          <tr class="table-light">
            <td class="">
              <%= count %>
              <% count = count+1 %>
            </td>
            <td>
              <%= link_to passenger.name, passenger , class: "text-capitalize text-decoration-none text-primary"%>
            </td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
<% end %>


